-- DropIndex
DROP INDEX "public"."Role_name_key";

-- AlterTable
ALTER TABLE "public"."InventoryMovement" ADD COLUMN     "batchId" TEXT;

-- AlterTable
ALTER TABLE "public"."JournalEntry" ADD COLUMN     "referenceType" "public"."ReferenceType";

-- AlterTable
ALTER TABLE "public"."PurchaseBillLine" ADD COLUMN     "batchId" TEXT NOT NULL,
ALTER COLUMN "warehouseId" SET NOT NULL;

-- AlterTable
ALTER TABLE "public"."Role" ADD COLUMN     "companyId" TEXT NOT NULL;

-- AlterTable
ALTER TABLE "public"."SalesInvoice" ADD COLUMN     "cogs" DECIMAL(18,2) NOT NULL DEFAULT 0;

-- AlterTable
ALTER TABLE "public"."SalesInvoiceLine" ADD COLUMN     "batchId" TEXT NOT NULL,
ADD COLUMN     "cogsTotal" DECIMAL(18,2) NOT NULL DEFAULT 0,
ADD COLUMN     "cogsUnitCost" DECIMAL(18,2) NOT NULL DEFAULT 0,
ALTER COLUMN "warehouseId" SET NOT NULL;

-- CreateTable
CREATE TABLE "public"."CompanySettings" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "general" JSONB NOT NULL DEFAULT '{}',
    "sales" JSONB NOT NULL DEFAULT '{}',
    "purchases" JSONB NOT NULL DEFAULT '{}',
    "inventory" JSONB NOT NULL DEFAULT '{}',
    "accounting" JSONB NOT NULL DEFAULT '{}',
    "tax" JSONB NOT NULL DEFAULT '{}',
    "numbering" JSONB NOT NULL DEFAULT '{}',
    "security" JSONB NOT NULL DEFAULT '{}',
    "notifications" JSONB NOT NULL DEFAULT '{}',
    "appearance" JSONB NOT NULL DEFAULT '{}',
    "dashboard" JSONB NOT NULL DEFAULT '{}',
    "modules" JSONB NOT NULL DEFAULT '{}',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CompanySettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."InventoryBatch" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "batchNumber" TEXT NOT NULL,
    "purchaseBillId" TEXT,
    "supplierId" TEXT,
    "purchaseDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "unitCost" DECIMAL(18,2) NOT NULL,
    "originalQuantity" DECIMAL(18,3) NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InventoryBatch_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Permission" (
    "id" TEXT NOT NULL,
    "module" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Permission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."RolePermission" (
    "id" TEXT NOT NULL,
    "roleId" TEXT NOT NULL,
    "permissionId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RolePermission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StockBatch" (
    "id" TEXT NOT NULL,
    "batchId" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "warehouseId" TEXT NOT NULL,
    "quantity" DECIMAL(18,3) NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StockBatch_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "CompanySettings_companyId_idx" ON "public"."CompanySettings"("companyId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CompanySettings_companyId_key" ON "public"."CompanySettings"("companyId" ASC);

-- CreateIndex
CREATE INDEX "InventoryBatch_batchNumber_idx" ON "public"."InventoryBatch"("batchNumber" ASC);

-- CreateIndex
CREATE INDEX "InventoryBatch_companyId_idx" ON "public"."InventoryBatch"("companyId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "InventoryBatch_companyId_productId_batchNumber_key" ON "public"."InventoryBatch"("companyId" ASC, "productId" ASC, "batchNumber" ASC);

-- CreateIndex
CREATE INDEX "InventoryBatch_productId_idx" ON "public"."InventoryBatch"("productId" ASC);

-- CreateIndex
CREATE INDEX "InventoryBatch_purchaseBillId_idx" ON "public"."InventoryBatch"("purchaseBillId" ASC);

-- CreateIndex
CREATE INDEX "InventoryBatch_supplierId_idx" ON "public"."InventoryBatch"("supplierId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Permission_module_action_key" ON "public"."Permission"("module" ASC, "action" ASC);

-- CreateIndex
CREATE INDEX "Permission_module_idx" ON "public"."Permission"("module" ASC);

-- CreateIndex
CREATE INDEX "RolePermission_permissionId_idx" ON "public"."RolePermission"("permissionId" ASC);

-- CreateIndex
CREATE INDEX "RolePermission_roleId_idx" ON "public"."RolePermission"("roleId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "RolePermission_roleId_permissionId_key" ON "public"."RolePermission"("roleId" ASC, "permissionId" ASC);

-- CreateIndex
CREATE INDEX "StockBatch_batchId_idx" ON "public"."StockBatch"("batchId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "StockBatch_batchId_warehouseId_key" ON "public"."StockBatch"("batchId" ASC, "warehouseId" ASC);

-- CreateIndex
CREATE INDEX "StockBatch_productId_idx" ON "public"."StockBatch"("productId" ASC);

-- CreateIndex
CREATE INDEX "StockBatch_warehouseId_idx" ON "public"."StockBatch"("warehouseId" ASC);

-- CreateIndex
CREATE INDEX "InventoryMovement_batchId_idx" ON "public"."InventoryMovement"("batchId" ASC);

-- CreateIndex
CREATE INDEX "PurchaseBillLine_batchId_idx" ON "public"."PurchaseBillLine"("batchId" ASC);

-- CreateIndex
CREATE INDEX "PurchaseBillLine_warehouseId_idx" ON "public"."PurchaseBillLine"("warehouseId" ASC);

-- CreateIndex
CREATE INDEX "Role_companyId_idx" ON "public"."Role"("companyId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Role_companyId_name_key" ON "public"."Role"("companyId" ASC, "name" ASC);

-- CreateIndex
CREATE INDEX "SalesInvoiceLine_batchId_idx" ON "public"."SalesInvoiceLine"("batchId" ASC);

-- CreateIndex
CREATE INDEX "SalesInvoiceLine_warehouseId_idx" ON "public"."SalesInvoiceLine"("warehouseId" ASC);

-- AddForeignKey
ALTER TABLE "public"."CompanySettings" ADD CONSTRAINT "CompanySettings_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "public"."Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."InventoryBatch" ADD CONSTRAINT "InventoryBatch_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "public"."Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."InventoryBatch" ADD CONSTRAINT "InventoryBatch_productId_fkey" FOREIGN KEY ("productId") REFERENCES "public"."Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."InventoryBatch" ADD CONSTRAINT "InventoryBatch_purchaseBillId_fkey" FOREIGN KEY ("purchaseBillId") REFERENCES "public"."PurchaseBill"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."InventoryBatch" ADD CONSTRAINT "InventoryBatch_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "public"."Supplier"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."InventoryMovement" ADD CONSTRAINT "InventoryMovement_batchId_fkey" FOREIGN KEY ("batchId") REFERENCES "public"."InventoryBatch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PurchaseBillLine" ADD CONSTRAINT "PurchaseBillLine_batchId_fkey" FOREIGN KEY ("batchId") REFERENCES "public"."InventoryBatch"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PurchaseBillLine" ADD CONSTRAINT "PurchaseBillLine_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES "public"."Warehouse"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Role" ADD CONSTRAINT "Role_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "public"."Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."RolePermission" ADD CONSTRAINT "RolePermission_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES "public"."Permission"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."RolePermission" ADD CONSTRAINT "RolePermission_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "public"."Role"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SalesInvoiceLine" ADD CONSTRAINT "SalesInvoiceLine_batchId_fkey" FOREIGN KEY ("batchId") REFERENCES "public"."InventoryBatch"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SalesInvoiceLine" ADD CONSTRAINT "SalesInvoiceLine_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES "public"."Warehouse"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockBatch" ADD CONSTRAINT "StockBatch_batchId_fkey" FOREIGN KEY ("batchId") REFERENCES "public"."InventoryBatch"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockBatch" ADD CONSTRAINT "StockBatch_productId_fkey" FOREIGN KEY ("productId") REFERENCES "public"."Product"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockBatch" ADD CONSTRAINT "StockBatch_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES "public"."Warehouse"("id") ON DELETE CASCADE ON UPDATE CASCADE;

